body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  } 50% {
    background-position : 100% 50%;
  } 100% {
    background-position : 0% 50%;
  }
}

.gradient-background {
  background: linear-gradient(300deg, silver, rgb(32, 31, 31), black);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.description {
  color: white;
  animation: slideUpFade 5s forwards;
}

@keyframes flicker {
  0%, 50%, 100% {
    text-shadow : 0 0 10px rgb(204, 223, 238), 0 0 20px rgb(204, 223, 238), 0 0 40px rgb(255, 255, 211);
  } 25%, 75% {
    text-shadow : none;
  }
}

.meImg {
  border: 5px solid white;
  border-radius : 10px;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}
.btn-lg {
  background-color: rgb(121, 188, 210);
  border: 0cap;
  box-shadow : 7px 7px 5px black;
}

.display-5 {
  color :rgb(121, 188, 210);
  font-weight: bold;
}

.aboutMeSpace {
  background-color: rgb(121, 188, 210);
  font-size: 160%;
  border: 5px solid rgb(45, 65, 125);
}
@media (width <= 1600px) {
  .aboutMeSpace{
    font-size : 140%;
  }
}
@media (width <= 1150px) {
  .aboutMeSpace {
    font-size : 120%;
  }
}
@media (width <= 900px) {
  .aboutMeSpace {
    font-size : 100%;
  }
}
@media (width <= 600px) {
  .aboutMeSpace {
    font-size : 90%;
  }
}

.features {
  background-color: white;
  border: 7px solid black;
  outline: 7px solid rgb(45, 65, 125);
  border-radius : 20px;
  padding-bottom: 10px;
  box-shadow : 20px 20px 20px black;
  text-align: center;
}

.icons {
  width:30px;
  height:30px;
}

.display-7 a{
  margin-right: 10px;
  text-decoration: none;
}

